.LoadingSpinner__overlay{width:100%;height:100%;position:fixed;top:0;left:0;overflow:hidden;background-color:rgba(0,0,0,.8);z-index:99999}.LoadingSpinner__overlay .LoadingSpinner__spinner{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}